.background {
  background-color: #ffffff;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: 000000;
}

.backgroundimg {
  background-image: url(/static/images/ban-newfly.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 483px;
}

.backgroundimg2 {
  background-image: url(/static/images/wallpaper-new-fly-2.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 104.063rem;
}

.background3 {
  background-color: #ffffff;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.background2 {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: 000000;
  z-index: 1000;
}

.interno {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 80rem;
}

.interno2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
}

.interno3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
}

.box {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box h3 {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.box h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box p {
  font-size: 16px;
  line-height: 30px;
}

.box2 {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  z-index: 10;
}
 .box2 img {
  margin-top: 28rem;
  margin-right: -9.5rem;
  min-width: 70rem;
  z-index: 10;
}

.box {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: #28B3C7;
}

.images {
  width: 100%;
  max-width: 80rem;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

.images img{
  width: 100%;
  max-width: 160px;
  margin: 1.5rem 2.66rem;
}

.images2 {
  width: 100%;
  max-width: 80rem;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

.images2 img{
  width: 100%;
  max-width: 570px;
  margin: 1rem 1rem;
}

.linha {
  height: 1rem;
  width: 10rem;
  border-radius: 3rem;
  color: #28B3C7;
  background-color: #28B3C7;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 216px) and (max-width: 926px) {
  .background {
    height: 100%;
  }

  .interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    padding-bottom: 1rem;
  }

  .interno2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 25rem;
  }

  .box {
    margin-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
  }

  .box p {
    font-size: small;
  }

  .box.texto {
    padding-top: 0rem;
  }

  .App {
    display: flex;
    flex-direction: column;
  }

  .quadrado {
    padding-top: 3rem;
   padding-bottom: 3rem;
    width: 10rem;
    margin-left: 8rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


  .carousel-root {
    padding-top: 10rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
