.background3 {
  background-image: url(/static/images/ban-contato.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 20rem;
  max-height: 25rem;
  width: 100%;
  color: #fff;
}
.background2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.background {
  background-color: #fff;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.txt {
  align-items: flex-start;
}

.interno2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 80rem;
}

.interno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
}

.interno3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.interno3 img {
  max-width: 85rem;
  height: 45rem;
  z-index: 1001;
}

.box_row {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: #1b1b1b;
}

.box_row p {
  font-size: 18px;
  color: #1b1b1b;
  max-width: 35rem;
  line-height: 30px;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.box2 h3 {
  margin-top: 10px;
  font-size: 28px;
}

.box2 p {
  margin-top: 10px;
}

.logo {
  max-width: 12rem;
  margin-bottom: 1.5rem;
}

.box button {
  width: 100%;
  max-width: 10rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #28b3c7;
  border-radius: 0.2rem 1.2rem 1.2rem 1.2rem;
  border: 0px;
  color: #fff;
  font-weight: bold;
  margin-left: 0.6rem;
}

.box button:hover {
  background-color: #1d7886;
}

.MuiOutlinedInput-root {
  border-radius: 0.2rem 1.2rem 1.2rem 1.2rem;
}

.social_media {
  width: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2.5rem;
  z-index: 1000;
}

.social_media li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.social_media li img {
  width: 1.25rem;
  margin-bottom: 0.2rem;
}

.social_media li svg {
  width: 1.25rem;
  margin-bottom: 0.2rem;
  fill: white;
  display: none;
}

.mobile {
  width: 100%;
  display: flex;
}

.icon {
  width: 4.2rem;
  height: 4.2rem;
}

.texto {
  line-height: 25px;
}

.titulo {
  max-width: 35rem;
  color: #28b3c7;
  margin-bottom: 5rem;
}

.titulo2 {
  color: #359036;
  margin-bottom: 5rem;
  text-align: center;
  margin-top: 5rem;
}

.input {
  color: #1b1b1b;
}

.TextField {
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.p {
  color: #1b1b1b;
  line-height: 30px;
  margin-top: 2rem;
}

@media only screen and (min-width: 216px) and (max-width: 926px) {
  .mobile {
    display: none;
    position: absolute;
  }

  .interno {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 55rem;
  }

  .interno2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 30rem;
  }

  .box {
    align-items: center;
  }

  .box_row {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .social_media {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .social_media li svg {
    fill: white;
    display: flex;
  }

  .footericon {
    justify-content: flex-start;
    padding-top: 0rem;
  }

  .icon {
    margin-right: 0rem;
  }

  .titulo2 {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .txt {
    margin-left: 0.1rem;
    align-items: center;
    text-align: center;
  }
}
