#nav {
}

#btn_mobile {
  display: none;
}

#active {
}

#hamburguer {
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: 0.4s;
  flex-direction: column;
  margin-top: -60px;
}

.interno {
  width: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 100%;
  height: 7rem;
  max-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 100%;
  max-width: 10rem;
  filter: brightness(0) invert(1);
}

.menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  max-width: 40rem;
}

.navbar {
  width: 100%;
}

.navbar li {
  display: flex;
  position: relative;
  bottom: 0rem;
  font-weight: 500;
  font-size: medium;
  padding: 1.5rem 0rem 1.5rem 0rem;
  cursor: pointer;
  transition: 0.5s ease-in;

  font-family: Geologica;
  color: #d4d4d4;
  border-bottom: 3px solid transparent;
}

.navbar .li:hover {
  border-bottom: 3px solid #9aff3c;
  color: #9aff3c;

  transition: 0.5s ease-in;
}

#btn-mobile {
  display: none;
  position: absolute;
}

#menuheader {
  background-color: transparent;
}

#menuheader.menu-alternative {
  transition: all 1s;
  background-color: #000000b8;
}

#menuheader.navbar li:hover {
  transition: all 1s;
}

.hamburger {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1234567;
}

.hamburger span {
  height: 3px;
  width: 100%;
  transition: 0.4s;

  background: #ffffff;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.overlayMenu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 550%;

  backdrop-filter: blur(8px);
  color: #ffffff;

  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;

  transition: all 0.5s ease;

  z-index: 123456;
}

.overlayMenu.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.overlayContent {
  display: flex;
  height: 100%;
  padding: 6rem;
  background: rgba(51, 51, 51, 0.98);
}

.left {
  width: 100%;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h2 {
  font-size: 48px;
  font-weight: 1000;
  line-height: 54px;
  text-transform: uppercase;
}

.left h2 i {
  color: #9aff3c;
  font-size: 56px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 2rem 0;

  background: #555;
}

.verticalDivider {
  width: 1px;
  margin: 0 3rem;

  background: #444;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons img {
  width: 100%;
  max-width: 0.8rem;
  margin-left: 0.5rem;
}

.orcamento {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5rem;
  transition: ease-in 0.5s;

  border: 1px solid #9aff3c;
  background: linear-gradient(135deg, #9aff3c, #8abe23);
  color: #000;
  font-weight: bold;
}

.contato {
  background: transparent;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5rem;
  transition: ease-in 0.5s;

  border: 1px solid #9aff3c;
  color: #9aff3c;
}

/* seta do botão transparente começa verde */
.contato img {
  filter: invert(56%) sepia(91%) saturate(450%) hue-rotate(85deg);
  transition: ease-in 0.5s;
}

.orcamento:hover {
  transition: ease-in 0.5s;

  background: transparent;
  border: 1px solid #9aff3c;
  color: #9aff3c;
}

.orcamento:hover img {
  filter: invert(56%) sepia(91%) saturate(450%) hue-rotate(85deg);
  transition: ease-in 0.5s;
}

.contato:hover {
  transition: ease-in 0.5s;
  background: #9aff3c;
  color: #000;
}

.contato:hover img {
  filter: none;
  transition: ease-in 0.5s;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons img {
  width: 0.8rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

.social {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
}

.social img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  transition: 0.3s;

  filter: brightness(0) invert(1);
}

.social img:hover {
  transform: scale(1.2);

  filter: none;
}

.right {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuItem {
  width: 100%;
}

.card {
  width: 100%;
  max-width: 30rem;
  position: relative;
  padding: 2.5rem;
  overflow: hidden;
  border-radius: 2rem;
  margin-bottom: 2rem;

  border: 1px solid #444;
  transition: 0.4s ease;
}

.card:hover {
  border: 1px solid #9aff3c;
  transform: translateY(-5px);
  background: #9aff3c;
  color: #000;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: 0.4s ease;
  z-index: 0;
}

.img1::after {
  background-image: url("/static/images/Menu-Implementos.jpg");
}

.img2::after {
  background-image: url("/static/images/Menu-Empresa.jpg");
}

.img3::after {
  background-image: url("/static/images/Menu-Contato.jpg");
}

.img4::after {
  background-image: url("/static/images/Menu-Contato.jpg");
}

.menuItem:hover .card h4,
.menuItem:hover .card p {
  color: #ffffff;
}

.card h4,
.card p,
.card img {
  position: relative;
  z-index: 2;
}

.menuItem:hover .card::after {
  opacity: 1;
}

.menuItem:hover .card::before {
  opacity: 1;
}

.menuItem:hover .card h4,
.menuItem:hover .card p {
  color: #000000;
}

.menuItem .card img {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 18px;
  transition: 0.3s;
}

.menuItem:hover .card img {
  filter: brightness(0) invert(1);
}

/* @media Menu Mobile*/
@media only screen and (max-width: 926px) {
  @media only screen and (max-width: 926px) {
    .header {
      padding: 0.5rem 1rem;
      background: rgba(51, 51, 51, 0.95);
    }

    .interno {
      max-width: 100%;
      padding: 0 1rem;
    }

    .logo {
      height: 3rem;
      max-width: 8rem;
    }

    .logo img {
      max-width: 7rem;
    }

    /* esconder menu desktop */
    .menu {
      display: none;
    }

    /* mostrar botão hamburger */
    .hamburger {
      display: flex;
    }

    /* overlay mobile */

    .overlayContent {
      flex-direction: column;
      padding: 2rem 2rem 2rem 2rem;
    }

    .verticalDivider {
      display: none;
    }
    .overlayMenu {
      position: fixed;
      inset: 0;
      background: #ffffff;
      background: #333333;

      transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      transition:
        transform 0.6s ease,
        opacity 0.4s ease;

      z-index: 9999;
    }

    .overlayMenu.show {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    /* coluna esquerda */

    .left {
      max-width: 100%;
      margin-bottom: 0.5rem;
    }

    .left h2 {
      font-size: 32px;
      line-height: 36px;
    }

    .left h2 i {
      font-size: 32px;
    }

    /* botões */

    .buttons {
      flex-direction: column;
      width: 100%;

      display: none;
    }

    .orcamento,
    .contato {
      width: 100%;
      justify-content: center;
    }

    .social {
      margin-top: 1.5rem;

      display: none;
    }

    /* coluna direita */

    .right {
      max-width: 100%;
    }

    .card {
      padding: 1.5rem;
      margin-bottom: 1rem;
    }

    .card h4 {
      font-size: 18px;
    }

    .card p {
      font-size: 14px;
    }

    .menuItem .card img {
      bottom: 1rem;
      right: 1rem;
    }
  }
}
