.footer {
  width: 100%;
  background: #fff;
  border-top: 1px solid #eaeaea;
  padding: 80px 20px 40px;
}

/* CONTAINER */
.container {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  gap: 3rem;

  flex-wrap: wrap;
}

/* COLUNAS */
.col {
  flex: 1;
  min-width: 200px;
}

/* LOGO */
.logo {
  max-width: 140px;
  margin-bottom: 1rem;
}

/* TEXTO */
.description {
  color: #555;
  font-size: 14px;
  max-width: 260px;
}

/* TITULOS */
.col h4 {
  margin-bottom: 1rem;
  font-size: 16px;
  color: #000;
}

/* LINKS */
.links {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 0.6rem;
  cursor: pointer;
  color: #555;
  transition: 0.3s;
}

.links li:hover {
  color: #9aff3c;
  transform: translateX(4px);
}

/* CONTATO */
.col p {
  margin-bottom: 0.5rem;
  color: #555;
  font-size: 14px;
}

/* SOCIAL */
.social {
  display: flex;
  gap: 0.8rem;
  margin-top: 1rem;
}

.social img {
  width: 20px;
  opacity: 0.6;
  transition: 0.3s;
}

.social img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* FOOTER BOTTOM */
.bottom {
  max-width: 80rem;
  margin: 3rem auto 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #eee;
  padding-top: 1.5rem;

  flex-wrap: wrap;
  gap: 1rem;
}

.bottom p {
  font-size: 13px;
  color: #777;
}

/* CTA */
.cta {
  background: #9aff3c;
  color: #000;

  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 999px;

  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

.cta:hover {
  transform: translateY(-3px);
  background: #8be52f;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 2rem;
  }

  .bottom {
    flex-direction: column;
    text-align: center;
  }
}
